<div class="dialog-heading">
  <h2 mat-dialog-title>TRACK ORDER</h2>
  <button mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
<mat-dialog-content class="mat-typography">
    <div class="row" *ngFor="let item of movieData;let i = index">
        <div class="col-sm">
          <img *ngIf="item != 'undefined'" src="../../../assets/{{item[0].image}}">
        </div>
        <div class="col-sm">
          <h1>{{item[0].name}}</h1>
          <p >Quantity: <strong>{{bookData[i].seats}}</strong></p>
          <p>Delivery: <strong>{{bookData[i].booking_date}}</strong></p>
          <p>Size: <strong>{{bookData[i].timings}}</strong></p>
          <button mat-raised-button class="primary" (click)="delteBooking(bookData[i].id)">Cancel order</button>
        </div>
    </div>
</mat-dialog-content>