<div class="row">
    <div class="col news">
        <h1>SIGNUP FOR NEWSLETTER</h1>
        <p>Signup for the latest news about Movies & Events and exclusive offers.</p>
        <form novalidate [formGroup]="newsForm" #newsDirective="ngForm">
            <div class="row">
                <div class="col-5">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="emailFormControl" placeholder="Ex. pat@example.com" [(ngModel)]="newsLetter.email" name="email" id="email">
                        <mat-icon matPrefix >mail_outline</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-5">
                    <mat-form-field appearance="fill">
                        <mat-label>Select City</mat-label>
                        <mat-select [(value)]="newsLetterCity" [(ngModel)]="newsLetter.city" name="city" id="city" formControlName="newsCity">
                        <mat-option>None</mat-option>
                        <mat-option value="Lahore">Lahore</mat-option>
                        <mat-option value="Islamabad">Islamabad</mat-option>
                        <mat-option value="Karachi">Karachi</mat-option>
                        <mat-option value="Multan">Multan</mat-option>
                        <mat-option value="Peshawar">Peshawar</mat-option>
                        <mat-option value="Faisalabad">Faisalabad</mat-option>
                        <mat-option value="Rawalpindi">Rawalpindi</mat-option>
                        <mat-option value="Murree">Murree</mat-option>
                        <mat-option value="Kashmir">Kashmir</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2 padding-0">
                    <button mat-raised-button class="primary" (click)="createNews(newsDirective)">SUBSCRIBE</button>
                </div>
            </div>
        </form>
        <p>Don't worry, we won't spam you. You will be able to unsubscribe with a single mouse click.</p>
    </div>
    <div class="col whats">
        <h1>SUBSCRIBE FOR OUR WHATSAPP UPDATES</h1>
        <p>Which update you want to receive?</p>
        <form [formGroup]="whatsappForm" #formDirective="ngForm">
            <mat-checkbox class="example-margin" color="primary" [(ngModel)]="whatsapp.movies" name="movies" id="movies" formControlName="showTimes">Movie/showtimes</mat-checkbox>
            <mat-checkbox class="example-margin" color="primary" [(ngModel)]="whatsapp.events" name="events" id="events" formControlName="upcoming">Upcoming Events</mat-checkbox>
            <mat-checkbox class="example-margin" color="primary" [(ngModel)]="whatsapp.blogs" name="blogs" id="blogs" formControlName="blogs">Blogs</mat-checkbox>
            <div class="row">
                <div class="col-5">
                    <mat-form-field appearance="fill">
                        <mat-label>Select City</mat-label>
                        <mat-select [(value)]="whatsappCity" [(ngModel)]="whatsapp.city" name="city" id="city" formControlName="whatsappsCity">
                            <mat-option>None</mat-option>
                            <mat-option value="Lahore">Lahore</mat-option>
                            <mat-option value="Islamabad">Islamabad</mat-option>
                            <mat-option value="Karachi">Karachi</mat-option>
                            <mat-option value="Multan">Multan</mat-option>
                            <mat-option value="Peshawar">Peshawar</mat-option>
                            <mat-option value="Faisalabad">Faisalabad</mat-option>
                            <mat-option value="Rawalpindi">Rawalpindi</mat-option>
                            <mat-option value="Murree">Murree</mat-option>
                            <mat-option value="Kashnir">Kashmir</mat-option>
                        </mat-select>
                        </mat-form-field>
                </div>
                <div class="col-5 padding-0">
                    <mat-form-field appearance="fill">
                        <mat-label>Your Number</mat-label>
                        <input matInput #postalCode maxlength="11" placeholder="Your Number" [(ngModel)]="whatsapp.number" name="number" id="number" formControlName="whatsappNumber">
                        <mat-icon matPrefix >phone</mat-icon>
                        <mat-hint align="end">{{postalCode.value.length}} / 11</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <button mat-raised-button class="primary" (click)="createWhatsapp(formDirective)">SUBSCRIBE</button>
                </div>
            </div>
        </form>
    </div>
</div>
<footer>
    <div class="container">
        <h3>What is AgriMarketplace.PK?</h3>
    <p>We , AgriMarketplace.pk , are a team to provide you with your One Stop Entertainment Solution - With the passion of giving the best , deriving innovation for your ease , inculcating the new trends to let you stay connected with everything happening around.</p>
    </div>
    <div class="container dflex">
        <div class="col">
            <h4>PRODUCTS</h4>
            <a>Products in Karachi</a>
            <a>Products in Lahore</a>
            <a>Products in Islamabad</a>
            <a>Products in Rawalpindi</a>
            <a>Products in Multan</a>
            <br>
            <h4>HELP</h4>
            <a>About Us</a>
            <a>Contact Us</a>
            <a>Terms & Conditions</a>
            <a>Policy</a>
            <a>FAQ</a>
            <a>Refund</a>
            <a>Sitemap</a>
        </div>
        <div class="col">
            <h4>AGRI PRODUCTS</h4>
            <a>AGIL</a>
            <a>Seeds</a>
            <a>HERBICIDE</a>
            <a>NOMINEE</a>
            <a>SYSTEMIC</a>
            <br>
            <a>FOR BOOKING</a>
            <a routerLink="contact"> <b>For Booking & Info Contact</b> </a>
            <a>+92 311 1222742</a>
            <a>Email: ask@AgriMarketplace.pk</a>
        </div>
        <div class="col">
            <h4>Brands</h4>
            <a>Maxim International.</a>
            <a>SARIMAD SECURITY SERVICES PVT LTD.</a>
            <a>Amritsar Seed.</a>
            <a>Profam Pakistan Pvt.</a>
            <a>AURIGA CHEMICALS ENTERPRISES.</a>
            <br>
            <h4>DOWNLOAD OUR APPS</h4>
            <img src="../../../assets/Android.png" alt="Android App">
            <img src="../../../assets/Iphone.png" alt="Iphone App">
        </div>  
        <div class="col">
            <h4>AGRI PRODUCTS</h4>
            <a>AGIL</a>
            <a>Seeds</a>
            <a>HERBICIDE</a>
            <a>NOMINEE</a>
            <a>SYSTEMIC</a>
        </div>
    </div>
    <div class="container">
        <hr>
        <br>
        <div class="dflex">
            <div class="copyright">
                <h4>© Copyright <a routerLink="/index"><span>Agri Marketplace</span></a> 2021. All rights reserved.</h4>
            </div>
            <div class="socials">
                <i class="material-icons">facebook</i>
            </div>
        </div>
    </div>
</footer>