header{
    z-index: 2;
}
header table{
    width: 100%;
}
header .left{
    float: left;
    width: 100%;
}
header .center{
    width: 15%;
    height: 100%;
    left: 50%;
}
header .center img{
    width: 100%;
}
header .right{
    width: 100%;
    position: relative;
    float: right;
}
header a{
    margin: 1% 1% 0 0;
}
header table tr:first-child{
    border-bottom: solid 1px #eceaea
}
header table tr:last-child{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
button{
    margin: 8px 8px 8px 0;
}