<header>
    <div class="row">
        <div class="col-5">
            <div class="row">
                <div class="col border-bottom">
                    <img src="../../../assets/logo-small.ico" [routerLink]="['/']">
                    <a class="spacing" mat-button routerLink="about">About Us</a>
                    <a class="spacing" mat-button routerLink="contact">Contact Us</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button mat-stroked-button class="spacing" style="margin-left: 8px;" [routerLink]="['/events']">Events</button>
                    <button mat-stroked-button class="spacing" [matMenuTriggerFor]="movieMenu">Movies <i class="material-icons">arrow_drop_down</i></button>
                    <mat-menu class="drop" #movieMenu="matMenu">
                        <button mat-menu-item [routerLink]="['/all-movies']">All Movies</button>
                        <button mat-menu-item [routerLink]="['/all-movies/upcoming']">Coming Soon</button>
                        <button mat-menu-item [routerLink]="['/all-movies/now-showing']">Now Showing</button>
                    </mat-menu>
                    <button class="spacing" mat-stroked-button [routerLink]="['/offers']">Offers</button>
                </div>
            </div>
        </div>
        <div class="col-2 img">
            <a routerLink=""><img src="../../../assets/logo.png" alt="logo"></a>
        </div>
        <div class="col-5">
            <div class="row border-bottom">
                <div class="col right">
                    <a class="spacing" *ngIf="user == ''" mat-button (click)="signIn()">Sign In</a>
                    <a class="spacing" *ngIf="user == ''" mat-button (click)="signupDialog()">Sign Up</a>
                    <a class="spacing" *ngIf="user != ''" mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon>{{user}}</a>
                    <mat-menu #menu="matMenu">
                    <button class="spacing" mat-menu-item (click)="logout()">Sign out</button>
                    </mat-menu>
                    <a class="spacing" mat-button (click)="location()" style="width: 17% !important; font-size: smaller;">
                        {{city}} <mat-icon> location_on</mat-icon>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col right">
                    <button class="spacing" mat-stroked-button (click)="trackingCode()">Tracking Order</button>
                    <button class="spacing" mat-stroked-button routerLink="create-event">Create your event</button>
                </div>
            </div>
        </div>
    </div>
</header>