<header>
    <div class="header">
        <div class="logo-section">
            <a mat-button color="primary" routerLink="about">About Us</a>
            <a mat-button color="primary" routerLink="contact">Contact Us</a>
        </div>
        <div class="login">
            <a *ngIf="user == ''" mat-button color="primary" (click)="signIn()">Sign In</a>
            <a *ngIf="user == ''" mat-button color="primary" (click)="signupDialog()">Sign Up</a>
            <a *ngIf="user != ''" color="primary" mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon>{{user}}</a>
            <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Sign out</button>
            </mat-menu>
            <a mat-button color="primary" (click)="location()" style="width: 17% !important; font-size: smaller;">
                {{city}} 
                <mat-icon *ngIf="!city" >location_searching</mat-icon>
                <mat-icon *ngIf="city"> location_on</mat-icon>
            </a>
        </div>
    </div>
    <div class="nav">
        <div class="subnav">
            <button mat-stroked-button color="primary" style="margin-left: 8px;">Events</button>
            <button mat-stroked-button  color="primary" [matMenuTriggerFor]="movieMenu">Movies <i class="material-icons">arrow_drop_down</i></button>
            <mat-menu #movieMenu="matMenu">
            <button mat-menu-item>All Movies</button>
            <button mat-menu-item>Comming Soon</button>
            <button mat-menu-item>Cinemas</button>
            <button mat-menu-item>Now Showing</button>
            </mat-menu>
            <button mat-stroked-button color="primary">blogs</button>
            <button mat-stroked-button color="primary">Offers</button>
            <button mat-stroked-button color="primary">PSL Live</button>
        </div>
        <a routerLink=""><img src="../../../assets/logo.png" alt="logo"></a>
        <div class="subnav">
            <button mat-stroked-button color="primary" (click)="trackingCode()">Tracking Order</button>
            <button mat-stroked-button color="primary" routerLink="create-event">Create your event</button>
        </div>
    </div>
</header>
