.cards{
    display: flex;
    justify-content: space-around;
}
.card{
    height: 60px;
    width: 100px;
    background-color: #98c67e;
    color: white;
    margin: 5%;
    text-align: center;
}
.card img{
    width: 40%;
    margin-left: 30%;
}