<h2 mat-dialog-title>Select Your City</h2>
<mat-dialog-content class="mat-typography">
    <div class="cards" >
        <a class="card" id="Lahore" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            <h5>Lahore</h5>
        </a>
        <a class="card" id="Karachi" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            <h5>Karachi</h5>
        </a>
        <a class="card" id="Murree" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            <h5>Murree</h5>
        </a>
    </div>
    <div class="cards" >
        <a class="card" id="Islamabad" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            <h5>Islamabad</h5>
        </a>
        <a class="card" id="Multan" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            <h5>Multan</h5>
        </a>
        <a class="card" id="Peshawar" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            <h5>Peshawar</h5>
        </a>
    </div>
    <div class="cards">
        <a class="card" id="Faisalabad" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            <h5>Faisalabad</h5>
        </a>
        <a class="card" id="Kashmir" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            <h5>Kashmir</h5>
        </a>
        <a class="card" id="Rawalpindi" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            <h5>Rawalpindi</h5>
        </a>
    </div>
    <div class="cards">
        <a class="card" id="Sialkot" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            <h5>Sialkot</h5>
        </a>
        <a class="card" id="Sahiwal" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            <h5>Sahiwal</h5>
        </a>
        <a class="card" id="Quetta" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            <h5>Quetta</h5>
        </a>
    </div>
</mat-dialog-content>
