<div class="dialog-heading">
    <h2 mat-dialog-title>Select Your City</h2>
    <button mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
<mat-dialog-content class="mat-typography">
    <div class="cards" >
        <a class="card" id="Lahore" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            Lahore
        </a>
        <a class="card" id="Karachi" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            Karachi
        </a>
        <a class="card" id="Murree" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            Murree
        </a>
    </div>
    <div class="cards" >
        <a class="card" id="Islamabad" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            Islamabad
        </a>
        <a class="card" id="Multan" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            Multan
        </a>
        <a class="card" id="Peshawar" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            Peshawar
        </a>
    </div>
    <div class="cards">
        <a class="card" id="Faisalabad" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            Faisalabad
        </a>
        <a class="card" id="Kashmir" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            Kashmir
        </a>
        <a class="card" id="Rawalpindi" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            Rawalpindi
        </a>
    </div>
    <div class="cards">
        <a class="card" id="Sialkot" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            Sialkot
        </a>
        <a class="card" id="Sahiwal" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            Sahiwal
        </a>
        <a class="card" id="Quetta" (click)="getCityName($event)">
            <img src="../../../assets/city-icon.png" alt="city">
            Quetta
        </a>
    </div>
</mat-dialog-content>
