<!-- carousel -->
<div class="container">
    <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/CONJURING-Cover.jpg">
          </div>
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/quiteplace.jpg">
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/blackwidow.jpg">
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel>
</div>
<!-- POPULAR MOVIES -->
<div class="container">
  <div class="featured-header space-between">
    <h1>POPULAR MOVIES</h1>
    <button mat-flat-button color="primary">View All Movies</button>
  </div> <br>
  <div class="cards">
    <mat-card class="example-card" [routerLink]="['/movies', '1' ,'the-conjuring']" routerLinkActive="router-link-active" >
      <img mat-card-image src="../../../assets/CONJURING.jpg" alt="Photo of a Shiba Inu">
      <div class="overlay">
        <div class="text">
          <mat-icon>play_circle_outline</mat-icon> <br>
          <a>Read More</a> <br> <br>
          <p>THE CONJURING: THE DEVIL MADE ME DO IT (2D)</p>
          <p>HORROR</p>
          <button mat-stroked-button color="primary">Book now</button>
        </div>
      </div>
    </mat-card>
    
    <mat-card class="example-card" [routerLink]="['/movies', '2', 'tom-and-jerry']" routerLinkActive="router-link-active" >
      <img mat-card-image src="../../../assets/tom&jerry.jpg" alt="Photo of a Shiba Inu">
      <div class="overlay">
        <div class="text">
          <mat-icon>play_circle_outline</mat-icon> <br>
          <a>Read More</a> <br> <br>
          <p>TOM AND JERRY</p>
          <p>FAMILY</p>
          <button mat-stroked-button color="primary">Book now</button>
        </div>
      </div>
    </mat-card>
    <mat-card class="example-card" [routerLink]="['/movies', '3', 'tenet']" routerLinkActive="router-link-active" >
      <img mat-card-image src="../../../assets/tenet.jpg" alt="Photo of a Shiba Inu">
      <div class="overlay">
        <div class="text">
          <mat-icon>play_circle_outline</mat-icon> <br>
          <a>Read More</a> <br> <br>
          <p>TENET</p>
          <p>ACTION</p>
          <button mat-stroked-button color="primary">Book now</button>
        </div>
      </div>
    </mat-card>
    <mat-card class="example-card" [routerLink]="['/movies', '4', 'invisible-man']" routerLinkActive="router-link-active">
      <img mat-card-image src="../../../assets/invisibleMan.jpg" alt="Photo of a Shiba Inu">
      <div class="overlay">
        <div class="text">
          <mat-icon>play_circle_outline</mat-icon> <br>
          <a>Read More</a> <br> <br>
          <p>THE INVISIBLE MAN</p>
          <p>HORROR</p>
          <button mat-stroked-button color="primary">Book now</button>
        </div>
      </div>
    </mat-card>
    <mat-card class="example-card" [routerLink]="['/movies', '5', 'sonic-the-hedgehog']" routerLinkActive="router-link-active">
      <img mat-card-image src="../../../assets/sonic.jpg" alt="Photo of a Shiba Inu">
      <div class="overlay">
        <div class="text">
          <mat-icon>play_circle_outline</mat-icon> <br>
          <a>Read More</a> <br> <br>
          <p>SONIC THE HEDGEHOG</p>
          <p>ANIMATION</p>
          <button mat-stroked-button color="primary">Book now</button>
        </div>
      </div>
    </mat-card>
  </div>
</div> 
<!-- Featured events -->
<section class="featured">
  <div class="featured container">
    <div class="featured-header space-between">
      <h1>FEATURED EVENTS</h1>
      <button mat-flat-button color="primary">SEE ALL EVENTS</button>
    </div>
    <div class="cards">
      <div class="event-card">
        <img src="../../../assets/test-event.jpg" alt="test-event">
        <p>July 08, 2021 - July 30, 2021 | Karachi</p>
        <h6>TEST EVENT</h6>
        <button mat-flat-button color="primary">Book it now</button>
      </div>
      <div class="event-card">
        <img src="../../../assets/indie.jpg" alt="indie">
        <p>December 18, 2021 | Islamabad</p>
        <h6>THE INDIE ART AND CRAFT SHOW ISLAMABAD</h6>
        <button mat-flat-button color="primary">Book it now</button>
      </div>
    </div>
  </div>
</section>
<!-- partners -->
<section class="partners">
  <div class="partners-header container">
    <h1>OUR PARTNER ORGANIZERS </h1>
  </div>
  <div class="container">
    <mat-grid-list cols="6" rowHeight="2:2">
      <mat-grid-tile class="img-hover-zoom">
        <img src="../../../assets/Salt Arts.jpg">
      </mat-grid-tile>
      <mat-grid-tile class="img-hover-zoom">
        <img src="../../../assets/olomopolo.jpg">
      </mat-grid-tile>
      <mat-grid-tile class="img-hover-zoom">
        <img src="../../../assets/saiyah.jpg">
      </mat-grid-tile>
      <mat-grid-tile class="img-hover-zoom">
        <img src="../../../assets/alliance.png">
      </mat-grid-tile>
      <mat-grid-tile class="img-hover-zoom">
        <img src="../../../assets/napa.jpg">
      </mat-grid-tile>
      <mat-grid-tile class="img-hover-zoom">
        <img src="../../../assets/festival.jpg">
      </mat-grid-tile>
      <mat-grid-tile class="img-hover-zoom">
        <img src="../../../assets/port.jpg" >
      </mat-grid-tile>
      <mat-grid-tile class="img-hover-zoom">
        <img src="../../../assets/shaan.jpg">
      </mat-grid-tile>
      <mat-grid-tile class="img-hover-zoom">
        <img src="../../../assets/school.jpg">
      </mat-grid-tile>
      <mat-grid-tile class="img-hover-zoom">
        <img src="../../../assets/solis.jpg">
      </mat-grid-tile>
      <mat-grid-tile class="img-hover-zoom">
        <img src="../../../assets/initiative.jpg">
      </mat-grid-tile>
      <mat-grid-tile class="img-hover-zoom">
        <img src="../../../assets/coke.jpg">
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</section>
<!-- bookitnow -->
<section class="bookitnow container">
  <div class="featured-header">
    <h1>BOOKITNOW.PK</h1>
  </div>
  <br>
  <div class="cards">
    <div class="left">
      <h4>WHAT IS BOOKINOW.PK?</h4>
      <p>We , Bookitnow.pk , are a team to provide you with your One Stop Entertainment Solution.</p>
      <button mat-stroked-button color="primary">Read More</button>
    </div>
    <div class="center">
      <h4>WHAT WE DO ?</h4>
      <p>Online portal that has made buying tickets online easy with simple steps without unnecessary frills.</p>
      <button mat-stroked-button color="primary">Read More</button>
    </div>
    <div class="right">
      <h4>BOOKITNOW.PK OFFERS ?</h4>
      <p>Event calendar of events happening all over Pakistan. include all categories.</p>
      <button mat-stroked-button color="primary">Read More</button>
    </div>
  </div>
</section>
<!--logged in user details -->
<!-- <table id="users">
  <tr>
    <th *ngFor="let col of columns">
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let user of users">
    <td>
      {{user["id"]}}
    </td>
    <td>
      {{user["email"]}}
    </td>
    <td>
      {{user["code"]}}
    </td>
    <td>
      {{user["number"]}}
    </td>
    <td>
      {{user["password"]}}
    </td>
  </tr>

</table> -->
