<div  class="cover" style="background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url('../../../assets/{{data?.image}}') ;">
    <!-- <mat-icon class="play">play_circle_outline</mat-icon> -->
    
</div>
<div class="dflex">
    <div class="imgbar">
        <img src="../../../assets/{{data?.image}}" >
        <button mat-raised-button class="primary" (click)="openDialog()">ORDER Now</button>
    </div>
    <div class="tabs">
        <h1>{{data?.name}}</h1>
        <span>{{data?.location}}</span> <span>{{data?.category}}</span> <br> 
        <p>Price: RS {{data?.date}}</p>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Summary">
               <div class="containers">
                <h4>SYNOPSIS</h4>
                <h5>{{data?.summary}}</h5>
               </div>
            </mat-tab>
            <mat-tab label="User Reviews(0)">
                <div class="containers">
                   <h5> {{data?.user_review}}</h5>
                </div>
            </mat-tab>
            <mat-tab label="Critic Reviews(0)">
                <div class="containers">
                    <h5>{{data?.critic}}</h5>
                </div>
            </mat-tab>
            <mat-tab label="Featured Videos">
                <div class="containers">
                    <h5>{{data?.videos}}</h5>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="news"></div>
</div>
<div class="bg">
    <div class="container">
        <h1>HOT PRODUCTS</h1>
        <hr>
        <carousel>
            <div class="carousel-cell" *ngFor="let movie of carosul">
                <img src="../../../assets/{{movie?.image}}" id="{{movie?.id}}" name="{{movie?.name}}" (click)="reload(movie.id,  movie.name)">
            </div>
        </carousel>
    </div>
</div>
