<div class="dialog-heading">
  <h2 mat-dialog-title>Book Your Order</h2>
  <button mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
<mat-dialog-content class="mat-typography">
  <table>
    <tr>
      <td style="width: 20%">
        <img src="../../../assets/{{ movieData?.image }}"/>
      </td>
      <td colspan="2">
        <div class="content">
          <h2>{{ movieData?.name }}</h2>
          <p><strong>Brand :</strong> {{ movieData?.location }}</p>
          <p><strong>Category :</strong> {{ movieData?.category }}</p>
          <p><strong>Price :</strong> {{ movieData?.date }}</p>
          <p *ngIf="data.routeParam == 'movies'">
            <strong>Size :</strong>
            <input type="button"
              class="time"
              #slot1
              id="slot1"
              value="{{ movieData?.slot1 }}"
              (click)="toggle(slot1.id, slot1.value)"
              [ngClass]="slot1 ? 'time' : 'slot1'"
              [disabled]="disableSlot1"/>
            <input type="button"
              class="time"
              #slot2
              id="slot2"
              value="{{ movieData?.slot2 }}"
              (click)="toggle(slot2.id, slot2.value)"
              [ngClass]="slot2 ? 'time' : 'slot2'"
              [disabled]="disableSlot2"/>
            <input type="button"
              class="time"
              #slot3
              id="slot3"
              value="{{ movieData?.slot3 }}"
              (click)="toggle(slot3.id, slot3.value)"
              [ngClass]="slot3 ? 'time' : 'slot3'"
              [disabled]="disableSlot3"/>
            <input type="button"
              class="time"
              #slot4
              id="slot4"
              value="{{ movieData?.slot4 }}"
              (click)="toggle(slot4.id, slot4.value)"
              [ngClass]="slot4 ? 'time' : 'slot4'"
              [disabled]="disableSlot4"/>
            <input type="button"
              class="time"
              #slot5
              id="slot5"
              value="{{ movieData?.slot5 }}"
              (click)="toggle(slot5.id, slot5.value)"
              [ngClass]="slot5 ? 'time' : 'slot5'"
              [disabled]="disableSlot5"/>
            <input type="button"
              class="time"
              #slot6
              id="slot6"
              value="{{ movieData?.slot6 }}"
              (click)="toggle(slot6.id, slot6.value)"
              [ngClass]="slot6 ? 'time' : 'slot6'"
              [disabled]="disableSlot6"/>
          </p>
        </div>
      </td>
    </tr>
    <tr [ngClass]="{book: data.routeParam == 'events'}">
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Choose delivery date</mat-label>
          <input matInput [matDatepicker]="picker" #date id="date" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Quantity</mat-label>
          <input matInput type="number" min="1" #seats id="seats" />
        </mat-form-field>
      </td>
      <td>
        <button
          style="margin-left: 2rem"
          mat-raised-button
          class="primary"
          (click)="uploadBooking(date.value, seats.value)">
          Order Now
        </button>
      </td>
    </tr>
  </table>
</mat-dialog-content>
