table{
    width: 100%;
}
tr:last-child td{
    border-spacing: 5rem;
    padding-top: 2em;
}
tr input{
    width: 100%;
}
img{
    height: 100%;
    width: 80%;
}
.example-full-width {
    width: 100%;
}
.time{
    display: inline;
    margin: 1%;
    padding: 3%;
    width: 20% !important;
    border: none;
}
.slot1{
    color: white;
    background-color: #98c67e;
    transition: ease 0.5s;
    cursor: pointer;
    border-radius: 20px;
}
.slot2{
    color: white;
    background-color: #98c67e;
    transition: ease 0.5s;
    cursor: pointer;
    border-radius: 20px;
}
.slot3{
    color: white;
    background-color: #98c67e;
    transition: ease 0.5s;
    cursor: pointer;
    border-radius: 20px;
}
.slot4{
    color: white;
    background-color: #98c67e;
    transition: ease 0.5s;
    cursor: pointer;
    border-radius: 20px;
}
.slot5{
    color: white;
    background-color: #98c67e;
    transition: ease 0.5s;
    cursor: pointer;
    border-radius: 20px;
}
.slot6{
    color: white;
    background-color: #98c67e;
    transition: ease 0.5s;
    cursor: pointer;
    border-radius: 20px;
}
.book td{
    padding-top: 25% !important;
}