<section class="bookitnow">
    <div class="container">
        <h2>What is Bookitnow.pk</h2>
        <b>We , Bookitnow.pk , are a team to provide you with your One Stop Entertainment Solution - With the passion of giving the best , deriving innovation for your ease , inculcating the new trends to let you stay connected with everything happening around.</b>
        <h2>What we do - because we love what we do:</h2>
        <p>Online portal that has made buying tickets online easy with simple steps without any unnecessary frills:</p>
        <ul>
            <li>Choose a movie or an event in your city</li>
            <li>Order</li>
            <li>Pay online or COD and you will get your ticket !</li>
        </ul>
        <h2>Bookitnow.pk offers :</h2>
        <p>Event calendar of events happening all over Pakistan , including all categories , show times of movies , movie trailers , upcoming movies ,booking movie tickets with seat booking of your choice.
        </p>
        <h2>Hassle free payment methods:</h2>
        <ul>
            <li>Cash on Delivery</li>
            <li>Credit/Debit Card</li>
            <li>Easy Paisa Mobile Account Payment</li>
            <li>Easy Paisa Mobile Shop Payment</li>
            <li>Download Bookitnow.pk app for booking tickets in a single go !</li>
        </ul>
        <button mat-raised-button color="warn" (click)="signupDialog()">Sign Up</button>
        <button mat-button (click)="signIn()">Sign In</button>
    </div>
</section>
<section class="info container">
    <div class="latestMovies">
        <mat-icon>theaters</mat-icon>
        <h2>Latest Movies</h2>
        <div class="spacebar"></div>
        <p>Stay connected with what’s happening around to plan your evenings and weekends.Whether it’s a training you are looking for ,concert to attend,charity event to play your part , theatre for exciting live performances , family festivals , sports , educational programs , parties and a lot more – Bookitnow.pk is your one stop solution for staying updated and buying tickets to be a part of the event of your choice.</p>
    </div>
    <div class="upcoming">
        <mat-icon>view_carousel</mat-icon>
        <h2>Latest Movies</h2>
        <div class="spacebar"></div>
        <p>Booking tickets has never been easy to save time with this fast paced life routine.Choose the event of your choice , order the tickets and get them delivered at your doorstep.Want to plan a movie without the hassle of standing in the queue and taking a risk to check availability – let us bring the cinema seating to you – log in , choose the movie , select the seats and pay online to buy your ticket !</p>
    </div>
    <div class="tickets">
        <mat-icon>movie_filter</mat-icon>
        <h2>Latest Movies</h2>
        <div class="spacebar"></div>
        <p>With the busy life we understand you cannot keep track of which movie is in the cinemas and that’s why Bookitnow.pk is here to serve you. Latest movies , upcoming movies , show times all over Pakistan , trailers and ticket booking.Log on to website or download our Bookitnow.pk app for your convenience.</p>
    </div>
</section>
