<section class="bookitnow">
    <div class="container">
        <h2>A B2B DIGITAL MARKETPLACE WHERE FAIR FOOD TRADE IS MADE EASY, FAST AND TRANSPARENT!</h2>
        <p>We drive agricultural transactions through our digital platform in combination with our service partnership network. Agri Marketplace accommodates online payments between buyer and seller, product quality check options, and end-to-end logistic services. <br>
            Agri Marketplace does not buy or sell crops and is not a broker. Instead, we offer you the ability to effortlessly market your crop via our platform.</p>
        <h2>What we do - because we love what we do:</h2>
        <p>Online portal that has made buying tickets online easy with simple steps without any unnecessary frills:</p>
        <ul>
            <li>A user-friendly platform that generates market opportunity for farmers and industry buyers.</li>
            <li>Unlimited access to a global market from anywhere, at anytime.</li>
            <li>Transparent and reliable market information, deal creation and negotiation.</li>
            <li>Integrated and secure platform payment processes.</li>
            <li>Tailored product quality verification and logistic services.</li>
            <li>A market with only verified buyers and sellers.</li>
            <li>Customer support & insight.</li>
        </ul>
        <button mat-raised-button class="primary" (click)="signupDialog()">Sign Up</button>
        <button mat-button (click)="signIn()">Sign In</button>
    </div>
</section>
<section class="info container">
    <div class="latestMovies">
        <mat-icon>theaters</mat-icon>
        <h2>Post offer as a seller</h2>
        <div class="spacebar"></div>
        <p>As a seller, post offers for the agricultural crop you are looking to sell, and gain immediate access to credit-verified buyers. Or simply react to an existing buyer’s bid and start your transaction.</p>
    </div>
    <div class="upcoming">
        <mat-icon>view_carousel</mat-icon>
        <h2>Post bid as a buyer</h2>
        <div class="spacebar"></div>
        <p>As a buyer, post bids for the agricultural crop you are looking to buy. Communicate to the market what you are looking for, and get rapid reactions from interested farmers or sellers.</p>
    </div>
    <div class="tickets">
        <mat-icon>movie_filter</mat-icon>
        <h2>PRICING</h2>
        <div class="spacebar"></div>
        <p>Both buyer and seller pay a small fee to Agri Marketplace once a transaction is made. We price transparently and keep you updated through all steps of the process. Our pricing is based on your transaction’s value & volume</p>
    </div>
</section>
