<div class="dialog-heading">
    <h2 mat-dialog-title>LogIn</h2>
    <button mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
<form class="example-form" (submit)="login()">
<mat-dialog-content class="mat-typography">
    <div class="container">
        <img src="../../../assets/logo.png" alt="logo">
        <h1>Login</h1>
        <div class="spacebar"></div>
        <br>
        
            <mat-form-field class="example-full-width" appearance="fill" style="width: 90%;">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" [(ngModel)]="email" name="email" id="email" required>
                <mat-icon matPrefix>mail_outline</mat-icon>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill" style="width: 90%;">
                <mat-label>Password</mat-label>
                <input matInput type="password" [(ngModel)]="password" name="password" id="password" required>
                <mat-icon matPrefix>lock</mat-icon>
                </mat-form-field>
            <p>Forgot your Password???</p>
            <p>Not a member? <button mat-button class="primary" (click)="signupDialog()">Sign up now</button> </p>
          <!-- </form> -->
        <br>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="primary" type="submit" (click)="login()">Login</button>
</mat-dialog-actions>
</form>