.picsum-img-wrapper img{
    width: 100%;
}
.bg{
    margin-top: -5%;
    background: url(../../../assets/texture-bw.png);
}
mat-grid-tile img{
    height: 80%;
    width: 100%;
    padding: 0;
}
mat-grid-tile h3{
    text-align: center;
}
.container h1{
    padding-top: 7%;
}