/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;width:100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{ margin: 5%;}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.view {
    margin: 10px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../src/assets/quiteplace2.jpg) no-repeat center center
}  
.view .mask,
.view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    margin: 20px 0 0 0
}  
.view p {
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center
}
.view-first img {
    transition: all 0.2s linear;
    width: 300px;
    height: 200px;
}  
.view-first .mask {
    opacity: 0;
    background-color: rgba(10, 4, 17, 0.44);
    transition: all 0.4s ease-in-out;
}  
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
}  
.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first mat-icon{
    color: white;
    font-size: 5em;
    margin-top: 0.2em;
    margin-left: -0.5em;
}
.view-first:hover img {
    transform: scale(1.1);
}
.view-first:hover .mask {
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}  
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
.raise:hover,
.raise:focus {
    box-shadow: 0 0.7em 0.7em -0.6em #484849;
    transform: translateY(-0.25em);
    transition: 0.5s;
}
.dialog-heading{
    display: flex;
    justify-content: space-between;  
}
.primary{
    background-color: #98c67e;
}
.mat-primary>mat-button-wrapper{
    color: #98c67e !important;
}